html {
	color: #F5F5F5; /* bijela pozadina */
	color: #D2D2D2; /* svijetlo sive crte */
	color: #81888D; /* tamno sivi tekst */
	color: #C7D0D5; /* navigation background */
	color: #93B1C6; /* navigation links */
	color: #7592b4; /* tamno plava ostalo */
	color: #FF7148; /* narančasta */
	color: #EC583A; /* crvenkasta */
}